<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AniListClientID</key>
	<string>$(ANILIST_CLIENT_ID)</string>
	<key>AniListClientSecret</key>
	<string>$(ANILIST_CLIENT_SECRET)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Plozz</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.thatcube.Plozz.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>plozz</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MALClientID</key>
	<string>$(MAL_CLIENT_ID)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_jellyfin._tcp</string>
		<string>_smb._tcp</string>
		<string>_plozz-pair._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Plozz uses the camera to scan the setup code shown on your Apple TV.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Plozz uses your local network to discover media servers and network shares.</string>
	<key>OMDBAPIKey</key>
	<string>$(OMDB_API_KEY)</string>
	<key>PlozzSentryDSN</key>
	<string>$(PLOZZ_SENTRY_DSN)</string>
	<key>SimklClientID</key>
	<string>$(SIMKL_CLIENT_ID)</string>
	<key>SimklClientSecret</key>
	<string>$(SIMKL_CLIENT_SECRET)</string>
	<key>TraktClientID</key>
	<string>$(TRAKT_CLIENT_ID)</string>
	<key>TraktClientSecret</key>
	<string>$(TRAKT_CLIENT_SECRET)</string>
	<key>TMDBBearerToken</key>
	<string>$(TMDB_BEARER_TOKEN)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Bungee-Regular.ttf</string>
		<string>AtkinsonHyperlegible-Regular.ttf</string>
		<string>AtkinsonHyperlegible-Italic.ttf</string>
		<string>AtkinsonHyperlegible-Bold.ttf</string>
		<string>AtkinsonHyperlegible-BoldItalic.ttf</string>
		<string>Lexend-Regular.ttf</string>
		<string>Lexend-Medium.ttf</string>
		<string>Lexend-SemiBold.ttf</string>
		<string>Lexend-Bold.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-SemiBold.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Fredoka-Regular.ttf</string>
		<string>Fredoka-Medium.ttf</string>
		<string>Fredoka-SemiBold.ttf</string>
		<string>Fredoka-Bold.ttf</string>
		<string>OpenDyslexic-Regular.otf</string>
		<string>OpenDyslexic-Italic.otf</string>
		<string>OpenDyslexic-Bold.otf</string>
		<string>OpenDyslexic-BoldItalic.otf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
